/* app.css */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;    background-color: #f4f7f6;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  h1 {
    color: #333;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Login Styles */
  .login-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

  .login-container input,
  .login-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .login-container input {
    margin-bottom: 20px;
  }
  
  .login-container button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #003f7f;
  }
  
  .carebot-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #333;
    margin-top: 20px;
    margin-bottom: 30px; /* Space before chatbot */
  }
  
  
  /* Chatbot Container */
  .chatbot-container {
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  /* Chat Messages */
  .chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
  }
  
  .message {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
  }
  
  .message.user {
    justify-content: flex-end;
  }
  
  .message.bot {
    justify-content: flex-start;
  }
  
  .message-content {
    max-width: 70%;
    padding: 12px 18px;
    border-radius: 12px;
    word-wrap: break-word;
  }
  
  .message.user .message-content {
    background-color: #333;
    color: #fff;
  }
  
  .message.bot .message-content {
    background-color: #f1f1f1;
    color: #333;
  }
  
  /* Chat Input */
  .chat-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }
  
  .chat-input input textarea {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 14px;
    resize: none;
  }
  
  .chat-input button {
    padding: 12px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #003f7f;
  }