/* styles/login.css */
.login-container input,
.login-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.login-container input {
    margin-bottom: 20px;
}

.login-container button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #003f7f;
}